::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.profile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: calc(100% - 300px);
  overflow: scroll;
}

.profile .background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-image: url(../../images/bgpaws.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.1;
  z-index: -2;
}

.profile-main-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.profile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  min-height: 100vh;
  max-width: 50%;
  min-width: 300px;
  border-right: solid 2px gray;
  z-index: 1;
}
.sidebar-pet-name {
  width: fit-content;
  padding: 4px 2px;
  margin: 15px auto;
}

.profile form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}

.profile .sections{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile form section {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 40%;
  text-align: start;
}

.profile form input,
.profile form button,
.profile form .url-label {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 14px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}
.profile form button{
  width: 20vw;
}

.profile form .url-label {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: #fe3072;
  border: none;
  transition: 0.3s ease;
}

.profile form .url-label:hover {
  cursor: pointer;
  background-color: #fe3072;
  transition: 0.3s ease;
}

.profile form input::-webkit-inner-spin-button,
.profile  button::-webkit-inner-spin-button,
.profile form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin-top: 0;
}

.profile form label {
  margin: 10px 0;
}

.profile form .multiple-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30vw;
}

.profile form .multiple-input-container input {
  margin-right: 10px;
}

.profile form input[type="radio"] {
  display: none;
}

.profile form input[type="checkbox"] {
  display: none;
}

.profile form input[type="checkbox"]:checked + label {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: #fe3072;
  border: none;
  transition: 0.3s ease;
}

.profile form .multiple-input-container label {
  min-width: fit-content;
  padding: 15px 12px;
  border: solid 2px rgb(219, 219, 219);
  margin-right: 1px;
  transition: all 0.3s;
  border-radius: 10px;
  font-size: 14px;
}

.profile form input[type="radio"]:checked + label {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: #fe3072;
  border: none;
  transition: 0.3s ease;
}

.profile form input[type="radio"]:hover + label,
.profile form input[type="checkbox"]:hover + label {
  cursor: pointer;
  background-color: #fe3072;
  transition: 0.15s ease;
  color: white;
  border: solid 2px #fe3072;
}

.profile form button[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(193, 193, 193);
  color: white;
  border: solid 2px rgb(193, 193, 193);
}

.profile form button[type="submit"] {
  transition: 0.15s ease;
}

.profile form input[type="number"] {
  width: 33%;
}

.profile-img {
  width: 600px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}

.profile-img {
  width: 500px;
  max-width: 90%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 5px;
}

.profile-img-secondary {
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
  min-height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.secondary-images-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 650px;
  max-width: 100%;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.onboarding-loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.profile-buttons {
  height: 50px;
  background-color: gray;
  border: none;
  border-top: solid 4px white;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.profile-buttons:hover,
.profile-buttons:active {
  background-color: #fe3072;
  color: white;
  font-weight: bold;
  transition: 300ms ease;
  cursor: pointer;
}

.main-security-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.main-security-container > form {
  width: 100%;
}

.profile-security-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 55%;
  min-width: 25%;
  align-items: center;
}

.hide {
  display: none;
}

.profile-valid {
  color: limegreen;
  /* margin-left: 0.25rem; */
  position: absolute;
  right: -16%;
  top: -2%;
}

.profile-invalid {
  color: red;
  /* margin-left: 0.25rem; */
  position: absolute;
  right: -16%;
  top: -2%;
}

.profile .go-back {
  position: absolute;
  top: 2%;
  left: 3%;
  color: #fff;
  font-size: 12px;
  background: #fe3072;
  border-radius: 15px;
  border: none;
  padding: 15px 15px;
  transition: 0.6s;
  display: flex;
  align-items: center;
  font-weight: 700;
  transition: 0.6s;
}

.profile .go-back:hover {
  cursor: pointer;
  background: #da381f;
}

.credentials-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.change-credentials-ptag {
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

.security-hr-sidebar {
  background-color: #fe3072;
  height: 4px;
  border: 0;
  width: 12%;
  margin-top: 10px;
}

.security-button {
  border: #68a7ad solid 2px;
  background-color: #fe3072;
  color: white;
  font-weight: bold;
}

.address-button {
  border-radius: 10px;
  padding: 10px 18px;
  border: #68a7ad solid 2px;
  background-color: #fe3072;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.primary-title-button {
  border-radius: 10px;
  padding: 10px 18px;
  border: #fe3072 solid 2px;
  background-color: #fe3072;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.primary-submit-button {
  margin: 10px;
  border-radius: 10px;
  padding: 10px 18px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: solid 2px rgb(114, 114, 114);
}

.primary-submit-button:hover,
.primary-title-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.profile-dog-img {
  position: absolute;
  bottom: 5%;
  right: 100px;
}

.profile h1 {
  margin-top: 10%;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex: 4;
}
@media (max-width: 1800px) {
  .profile-dog-img {
    display: none;
  }
}
