.onboarding-dropdown-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 30px;
    margin: 10px 0;
    font-size: 14px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    color:rgb(108, 108, 108);
    cursor: pointer;
}

.dropdown-list{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    max-width: 100%;
    padding: 5px 0px;
    margin: 10px 0;
    font-size: 14px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    color:rgb(108, 108, 108);
    list-style-type: none;
}

.dropdown-option-button {
    color:rgb(108, 108, 108);
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 14px;
    padding: 15px 20px 15px 20px;
    border: 0;
    width: 100%;
    text-align: left;
}

.dropdown-option-button:hover, .dropdown-option-button:focus {
    cursor: pointer;
    font-weight: bolder;
    color: white;
    background-color: #ccc;
  }

  @media (max-width: 765px) {

    .onboarding-dropdown-div{
        padding: 0px 10px;
    }
    .onboarding-dropdown-div p{
        margin: 7px 0;
    }

  }

